<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div class="pn-questionnaire__intro">

        <f:flashMessages />

        <f:if condition="{questionnaire.introductionText}">
            <div class="pn-questionnaire__intro-text">
                {questionnaire.introductionText -> f:format.html()}
            </div>
        </f:if>

        <div class="pn-questionnaire__intro-actions">
            <f:link.action
                action="question"
                class="pn-questionnaire__btn pn-questionnaire__btn--primary"
            >
                <f:render partial="ButtonLabel" arguments="{override: settings.button_start, key: 'button.start'}" />
            </f:link.action>
        </div>

        <f:comment><!-- Closing remark below the start button, e.g. how long it takes or what happens with the answers --></f:comment>
        <f:if condition="{questionnaire.introductionFooterText}">
            <div class="pn-questionnaire__intro-footer">
                {questionnaire.introductionFooterText -> f:format.html()}
            </div>
        </f:if>

    </div>
</f:section>
</html>

